.menu-container {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
}

.category-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-buttons > button {
  width: 190px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  background: none;
  padding: 11px;
  color: rgb(67, 67, 67);
  cursor: pointer;
  text-align: start;
}

.category-buttons > button:hover {
  color: rgb(137, 198, 137);
  font-weight: 600;
}

.category-buttons > button.active {
  border: 1px solid rgb(137, 198, 137);
  color: rgb(113, 160, 113);
  font-weight: 600;
}

.menu-items-grid {
  display: grid;
  grid-template-columns: repeat(3, 390px);
  gap: 20px;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 20px;
}

.item-desc {
  font-size: 14px;
}

#menu-price {
  font-weight: 500;
  padding-top: 10px;
  color: rgb(70, 128, 70);
}

@media only screen and (max-width: 600px) {
  .menu-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .category-buttons {
    width: 100%;
    flex-direction: row;
    margin-bottom: 30px;
    overflow-x: auto;
  }

  .category-buttons > button {
    flex: 0 0 auto;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 30px;
    margin-right: 10px;
  }

  .category-buttons > button:hover {
    font-weight: 500;
  }

  .menu-items-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media only screen and (min-width: 430px) and (max-width: 770px) {
  .menu-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .category-buttons {
    width: 100%;
    flex-direction: row;
    margin-bottom: 30px;
    overflow-x: auto;
  }

  .category-buttons > button {
    flex: 0 0 auto;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 25px;
    margin-right: 10px;
  }

  .category-buttons > button:hover {
    font-weight: 500;
  }

  .menu-items-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
