.menu-container {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.category-buttons {
  display: flex;
  gap: 5px;
}

.category-buttons > button {
  width: 190px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  background: none;
  padding: 10px;
  color: rgb(67, 67, 67);
  cursor: pointer;
}

.category-buttons > button:hover {
  color: rgb(137, 198, 137);
  font-weight: 600;
}

.category-buttons > button.active {
  border-bottom: 2px solid rgb(137, 198, 137);
  color: rgb(137, 198, 137);
  font-weight: 600;
}

.menu-items-grid {
  display: grid;
  grid-template-columns: repeat(3, 420px);
  gap: 20px;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 20px;
}

#menu-price {
    font-weight: 500;
    padding-top: 10px;
    color: rgb(70, 128, 70);
}
