.recommended-food-container {
    height: 500px;
    background-color: rgb(188, 219, 188, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 60px;
    padding-top: 50px;
}

.headline-part > h1 {
    width: 300px;
    font-size: 35px;
    color: rgb(57, 44, 44);
}

#menu-btn {
    font-family: Montserrat;
    background-color: rgb(57, 44, 44);
    color: white;
    padding: 13px;
    font-size: 12px;
    cursor: pointer;
}

#menu-btn:hover {
    color: rgb(57, 44, 44);
    background-color: white;
    font-weight: 500;
}

.recommended-food-imgs {
    display: flex;
    gap: 30px;
}

.food-item {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 5px;
}

.food-item > img {
    width: 250px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.food-item > h4 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.food-item > p {
    text-align: center;
    font-size: 12px;
}

.recommended-food-imgs li {
    list-style: none;
}


@media only screen and (max-width: 600px) {
    .recommended-food-container {
        display: none;
    }
}


@media only screen and (min-width: 430px) and (max-width: 770px) {
}