.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.about-section {
    width: 550px;
}

#about-is-img {
    width: 550px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .about-container {
        width: 95%;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-section {
        width: 370px;
        margin: 0 auto;
    }

    #about-is-img { 
        width: 95%;
        margin: 0 auto;
        padding-top: 15px;
    }
}

@media only screen and (min-width: 430px) and (max-width: 770px) {
    .about-container {
        width: 100%;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
    }
}