.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.about-section {
    width: 550px;
}

#about-is-img {
    width: 600px;
    height: 300px;
}