@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

#headline {
  font-size: 30px;
  line-height: 90px;
  padding-left: 50px;
  color: rgb(57, 44, 44);
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden; 
  }

  #headline {
    font-size: 25px;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 770px) {
  body {
    overflow-x: hidden; 
  }
}